<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-unlock-keyhole fa-6x"></i>
    <h1 class="display-4 secret-title">My secrets.</h1>

    <!-- "All secrets", "Submit a Secret", "Log Out" buttons -->
    <div class="login-submit-buttons">
      <a class="btn btn-light btn-sm" href="/secrets"
        ><strong>All</strong> Secrets</a
      >
      <a
        class="btn btn-primary btn-sm button-color"
        href="/submit"
        role="button"
        >Submit a Secret</a
      >
      <a class="btn btn-danger btn-sm" href="/logout" role="button">Log Out</a>
    </div>

    <hr />

    <!-- Render this user's secrets -->
    <% mySecrets.forEach(function (secret) { %>
    <form action="/delete-secret" method="POST">
      <p class="secret-text">
        <%= secret.secret %>
        <!-- Button for deleting a secret -->
        <button
          class="my-secrets-delete-button"
          type="submit"
          name="deleteSecret"
          value="<%= secret.dateAdded %>"
        >
          <i class="fa-solid fa-delete-left"></i>
        </button>
      </p>
      <p class="secret-date"><%= secret.dateAdded %></p>
    </form>
    <% }) %>
    <hr />
  </div>
</div>

<%- include('partials/footer') %>
